body{
    font-family: serif;
    
}
.vertical-navbar{
    height: 100%;
    width: 200%;
    position: fixed;
    top: 90px;
    left: 0;
    padding-top: 90px;
}
.vertical-navbar a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: left;


}
.vertical-navbar a:hover{
    background-color: rgba(248, 248, 255, 0.517);
    width: 160px;
}
img {
    position: fixed;
    left:0px ;
    top: 0px;
    width: 1800px;
    height:1100px ;
    z-index: -1;
    opacity: 0.9;
  }
  h3{
    font-style:italic ;
    font-weight: 200;
    
  }
  h2{
    font-style:italic ;
    font-weight: 200;
  }
  h1{
    font-weight: 600;
    font-family: fantasy;
  }
  p{
    font-size: larger;
  }